[submodule "Source/ThirdParty/minhook"]
	path = Source/ThirdParty/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "Source/ThirdParty/json"]
	path = Source/ThirdParty/json
	url = https://github.com/nlohmann/json.git
